<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
